postgres:
  POSTGRES_HOST: "tavro-postgres"
  POSTGRES_PORT: "5432"
  POSTGRES_USER: "tavro_user"
  POSTGRES_PASSWORD: "tavro_secret_changeme"
  POSTGRES_DB: "tavro"

databases:
  CORE_GLUE_DB_NAME: "core"
  CURATED_GLUE_DB_NAME: "curated"
  RISK_MANAGEMENT_GLUE_DB_NAME: "risk_management"

environment:
  TEMPORAL_ADDRESS: "risk-temporal:7233"
